.root{
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.calculate-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.calculate-button:hover {
    -fx-background-color: darkred;
}